p{
    color:red
    
    

}

h1{
    color: blue;
   /* background-color: aqua;*/
}
h2{
    color: chartreuse;
    /*background-color: crimson;*/
}
.p-background{
   /* background-color:violet ;*/
}
#h2-bg{
    /*background-color: cadetblue;*/
}